.User{
  &__title{
    @include heading('medium');    
    margin-left: $m_medium;
    @media screen and (min-width: $beta_query) {
      margin-left: 0;
      margin-top: 0;
    }
  }
  width: 100%;
  @media screen and (min-width: $charlie_query) {
    width: 80%;
  }
  &__content{
    &__info{
      display: flex;
      &__avatar{
        @include avatar;
      }
      &__name{
        @include heading;
        flex-grow: 2;
        border-bottom: $border-small;
      }      
    }
    &__following{
      &__users{

      }
      &__title{  
        @include sub-heading;
        margin-top: $m_large;   
        display: block;  
      }
      &__more{
        cursor: pointer;
        float: right;
        @include button-text;
        font-size: $s_small;
      }
      &__loading{
        position: relative;
        height: 50px;
        clear: both;
      }
    }
  }
}