.User{
  &__title{
    @include heading('medium');
    margin-left: $m_medium;
    @media screen and (min-width: $beta_query) {
      margin-left: 0;
      margin-top: 0;
    }
  }
  width: 100%;
  @media screen and (min-width: $charlie_query) {
    width: 80%;
  }
  &__content{
    &__info{
      display: flex;
      &__avatar{
        @include avatar;
      }
      &__name{
        @include sub-heading;
        flex-grow: 2;
        border-bottom: $border-small;
      }      
    }
    &__following{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__title{
        width: 100%;   
        @include sub-heading;
        margin-top: $m_large;     
      }
      &__item{
        display: flex;
        width: 100%;
        @media screen and (min-width: $beta_query) {
          width: 42%;
        }
        border: $border-small;
        border-radius: 4px;
        box-shadow: 2px 4px 15px #888888;
        padding: $m_medium;
        margin: $m_medium 0;
        &__avatar{
          @include avatar;
        }
        &__name{
          a{
            
          }
        }
      }
    }
  }
}