@mixin button() {  
  @include button-text;
  cursor: pointer;
  background: $c_inverse;
  text-align: center; 
  border: $border-medium;
  margin: $m_medium;
  position: relative;
  &:hover{
    background: $c_main;
    font-weight: $fw_regular;
  }
}

@mixin input() {  
  @include button-text;
  background: $c_inverse;
  text-align: center; 
  border-bottom: $border-medium;
  margin: $m_medium;
  position: relative;
  &:hover{
    background: $c_main_light;
    font-weight: $fw_regular;
  }
}
