@mixin button() {  
  @include button-text;
  cursor: pointer;
  background: $c_inverse;
  text-align: center; 
  border: $border-medium;
  margin: $m_medium 0;
  position: relative;
  max-width: 300px;
  &:hover{
    background: $c_main;
  }
}

@mixin input() {  
  @include button-text;
  font-weight: $fw_regular;
  background: $c_inverse;
  text-align: center; 
  border:none;
  border-bottom: $border-medium;
  border-bottom-style: dashed;
  margin: $m_medium 0;
  position: relative;
  max-width: 300px;
  &:focus{
    outline: none;
    background: $c_auxiliar;
  }
}
