
$ff_heading: 'Fira Sans', sans-serif;
$ff_body: 'Open Sans', sans-serif;

/**
* FONT SIZES 
**/
$s_xsmall: 12px;
$s_small: 16px;
$s_medium: 24px;
$s_large: 28px;

/**
* LINE HEIGHT 
**/
$lh_xsmall: 18px;
$lh_small: 26px;
$lh_medium: 34px;
$lh_large: 38px;

/**
* FONT WEIGHTS 
**/ 
$fw_regular: 400;
$fw-bold: 700;
$fw_extra-bold: 900;

/**
* COLORS 
**/
$c_base: rgb(12, 11, 11);
$c_inverse: #fffffa;

$c_base_light: lighten($c_base, 50%);

$c_main: #74E4D7;
$c_main_dark: darken($c_main, 50%);
$c_main_light: lighten($c_main, 20%);

$c_secondary: #FF6166;

$c_auxiliar: #ffff66;

$c_action: $c_main;
$c_danger: #E50000;

$c_font: $c_base;

/**
* BORDERS
**/
$b-large_width: 10px;
$border-small: 2px solid $c_base;
$border-medium: 6px solid $c_base;
$border-large: $b-large_width solid $c_base;

/**
 * MARGINS
**/
$m_small: 8px;
$m_medium: 16px;
$m_large: 32px;


$max_width_content: 900px;
$h_header: 100px;

/*
* LAYOUT BREAKPOINTS
*/

$beta_screen: 768; 
$charlie_screen: 1024;
$delta_screen: 1200; 
$echo_screen: 1980;

$beta_query: $beta_screen + 0px;
$charlie_query: $charlie_screen + 0px;
$delta_query: $delta_screen + 0px;
$echo_query: $echo_screen + 0px;
