.Home{
  &__title{
    @include heading('medium');
    margin-left: 0;
    @media screen and (min-width: $beta_query) {      
      margin-top: 0;
    }
  }
  width: 100%;
  @media screen and (min-width: $charlie_query) {
    width: 80%;
  }
}